* {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}



.bigmain {
    margin: 0;
    padding: auto;
    box-sizing: border-box;
    
    
}
.pic1 {
    margin: 0rem 0.5rem;
}

.pic2 {
    margin: 0rem  2rem;
    border-radius: 40px;
}

.main1 {
    width: 320px;
    height: 330px;
    box-shadow: 3px 3px 10px rgba(14, 13, 13, 0.2);
    border-radius: 50px;
    display: block;
    margin: 2rem 2rem;
    
}

.my-button{
    height: 35px;
    width: 200px;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px ;
    border-radius: 20px;
    cursor: pointer;
    display: block;
    margin: auto;
}

.my-button:hover{
    background-color: gray;
}

.main2 {
    width: 320px;
    height: 330px;
    box-shadow: 3px 3px 10px rgba(14, 13, 13, 0.2);
    border-radius: 50px;
    display: block;
    margin: 2rem 2rem;
    
    
}

.my-button1{
    height: 35px;
    width: 200px;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px ;
    border-radius: 20px;
    cursor: pointer;
    display: block;
    margin: -0.7rem auto;
}

.my-button1:hover{
    background-color: gray;
}

.main3 {
    width: 320px;
    height: 330px;
    box-shadow: 3px 3px 10px rgba(14, 13, 13, 0.2);
    border-radius: 50px;
    display: block;
    margin: 2rem 2rem;
   
    
    
}

.my-button2{
    height: 35px;
    width: 200px;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px ;
    border-radius: 20px;
    cursor: pointer;
    display: block;
    margin: 0.6rem auto;
}

.my-button2:hover{
    background-color: gray;
}